html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3{
    color: #e5e5e5;
}

a h3:hover{
    color: white;
}

a{
    text-decoration: none;
}

.wrapper{
    min-width: 1050px;
    min-height: 100%;
    background-color: #141418;
}

.formContainer{
    background-color: #efefee;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column{
    background-color: white;
    width: 450px;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    padding: 20px 35px;
}

.column form{
    display: flex;
    flex-direction: column;

}

.inputField{
    font-size: 25px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #dedede;
}

.submit-button{
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 12px;
}

.header h3{
    font-size: 20px;
    font-weight: 800;
    color: #451122;   
}

.logo{
    width: 75px;
    margin-top: 20px;
}

.signIn{
    text-decoration: none;
    font-size: 20px;
    color: #442311;
}


.errorMessage{
    color: #f00000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.previewVideo, 
.previewImage{
    width: 100%;
}

.previewOverlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    box-sizing: border-box;
}

.previewContainer{
    position: relative;
    display: flex;
}

.previewContainer h3{
    font-size: 25px;
    color: #eee;
    margin: 0;
}

.mainDetail{
    position: relative;
    top: 25%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    
}

.buttons button{
    background-color: rgba(51,51,51,0.4);
    color: #fff;
    padding: 10px 40px;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 30px;
}



.buttons button:hover{
    background-color: #e6e6e6;
}


.buttons img{
    width: 30px;
}

.small{
    width: 230px;
    height: 120px;
    margin-right: 7px;
    display: inline-flex;
}

.small img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categories{
    padding: 0 40px;
}

.videos,
.entities{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}

.error{
    color: #a0a0a0;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.season{
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.episodeContainer{
    display: inline-flex;
    justify-content: center;
    margin-right: 4px;
}

.episodeContainer .contents{
    display: flex;
    flex-direction: column;
    width: 230px;
     margin-right: 8px;
}

.episodeContainer img{
    width: 230px;
    height: 150px;
}

.videoInfo h4,
.videoInfo span{
    color: White;
    width: 100%;
    white-space: normal;
}

.videoInfo{
    max-height: 230px;
    overflow-y: auto;
   
}

.videoInfo h4,
.videoInfo span{
    color: White;
    width: 100%;
    white-space: normal;
}

.videoControl{
    position: absolute;
    width: 100%;
    display: flex;
    background-color: rgba(0,0,0,0.3)
}

.videoControl img{
    margin: 10px;
    width: 80px;
}

.videoControl img{
    margin: 10px;
}

.videoControl h3{
    font-size: 30px;
    font-weight: 900;
}

button{
    cursor: pointer;;
}

.topBar{
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
}

.scroll{
    background-color: #141414;
    transition: background-color 200ms linear;
}

.logoContainer{
    height: 40px;
}

.logoContainer img{
    height: 100%;
}

.links{
    display: flex;
    list-style: none;
    padding: 15px;
}

.links a{
    color: #eee;
    font-size: 13px;
    margin-right: 10px;
}

.right{
    flex: 1;
    text-align: right;
    margin-right: 100px;
}

.right img{
    width: 40px;
    height: 40px;
}

.categories{
    color: #e9e9e9;
}

.settingsContainer{
    padding-top: 60px;
    background-color: transparent;
    width: 80%;
    margin: 0 auto;
}

.settingsContainer h2{
    color: #eee;
}

.form{
    border-bottom: 3px solid #dedede;
    padding-bottom: 25px;
}

.profile{
    width: 450px;
    height: 35px;
    font-size: 35px;
    border-radius: 3px;
    padding: 5px  
}

.save{
    width: 250px;
    padding: 10px;
    font-size: 35px;
    font-weight: 700;
    background-color: #dc1928;
}

.message{
    font-size: 25px;
}

.getError{
    color: #dc1928;
}

.success{
    color: #51a112;
}

.logout{
    color: #eee;
    display: inline-block;
    margin-left: 40px;
}

.testUser{
    border: 2px solid #344221;
    border-radius: 5px;
    margin-top: 10px;
}

.testUserContainer{
    width: 90%;
    margin: 0 auto;
}

.testUser h3{
    color: #000;
}

@media screen and (max-width:768px){
    .wrapper{
        min-width: 100%;
    }
    .topBar{
        height: 50px;
    }

   
    .column {
        padding: 10px;
        width: 90%;
        margin: 0 auto;
    }
    
    .topBar a{
        font-size: 20px;
        font-weight: bold;
    }

    .topBar ul{
        margin-top: 30px;
    }

    .topBar img{
        width: 100px;
        height: auto;
    }

    .right img{
        width: 50px;
        height: auto;
        margin-left: 50px;
    }

    .mainDetail h3{
        font-size: 25px;
        white-space: nowrap;
        margin: 15px;
    }

    .buttons button{
        padding: 10px 25px;
    }

    .buttons button img{
        width: 28px
    }

    .buttons button i{
        font-size: 30px;  
    }

   .category h3{
       font-size: 22px;
   }

   .categories h1{
       font-size: 30px;
   }

    .watchContainer video{
        width: 100%;
    }

    .watchNav{
        height: 100px;
    }

    .watchNav h3{
        margin: 5px;
        font-size: 28px;
    }
}

